src/conf/xml-resources/web-service-references/retrieveWindowsInformation/wsdl/localhost_8080/SYSINTG-FINPROJ-WEBSERVICES/retrieveWindowsInformation.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://callwindowsservice.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://callwindowsservice.org/" name="retrieveWindowsInformation">
<types>
<xsd:schema>
<xsd:import namespace="http://callwindowsservice.org/" schemaLocation="http://localhost:8080/SYSINTG-FINPROJ-WEBSERVICES/retrieveWindowsInformation?xsd=1"/>
</xsd:schema>
</types>
<message name="createDirectory">
<part name="parameters" element="tns:createDirectory"/>
</message>
<message name="createDirectoryResponse">
<part name="parameters" element="tns:createDirectoryResponse"/>
</message>
<message name="backupDatabase">
<part name="parameters" element="tns:backupDatabase"/>
</message>
<message name="backupDatabaseResponse">
<part name="parameters" element="tns:backupDatabaseResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="InterruptedException">
<part name="fault" element="tns:InterruptedException"/>
</message>
<message name="stopWebService">
<part name="parameters" element="tns:stopWebService"/>
</message>
<message name="stopWebServiceResponse">
<part name="parameters" element="tns:stopWebServiceResponse"/>
</message>
<message name="retrieveCPUUsage">
<part name="parameters" element="tns:retrieveCPUUsage"/>
</message>
<message name="retrieveCPUUsageResponse">
<part name="parameters" element="tns:retrieveCPUUsageResponse"/>
</message>
<message name="startWebService">
<part name="parameters" element="tns:startWebService"/>
</message>
<message name="startWebServiceResponse">
<part name="parameters" element="tns:startWebServiceResponse"/>
</message>
<message name="testPath">
<part name="parameters" element="tns:testPath"/>
</message>
<message name="testPathResponse">
<part name="parameters" element="tns:testPathResponse"/>
</message>
<message name="retrieveMemoryUsage">
<part name="parameters" element="tns:retrieveMemoryUsage"/>
</message>
<message name="retrieveMemoryUsageResponse">
<part name="parameters" element="tns:retrieveMemoryUsageResponse"/>
</message>
<message name="getWebServiceStatus">
<part name="parameters" element="tns:getWebServiceStatus"/>
</message>
<message name="getWebServiceStatusResponse">
<part name="parameters" element="tns:getWebServiceStatusResponse"/>
</message>
<message name="retrieveDatabases">
<part name="parameters" element="tns:retrieveDatabases"/>
</message>
<message name="retrieveDatabasesResponse">
<part name="parameters" element="tns:retrieveDatabasesResponse"/>
</message>
<message name="retrieveFreeDiskSpace">
<part name="parameters" element="tns:retrieveFreeDiskSpace"/>
</message>
<message name="retrieveFreeDiskSpaceResponse">
<part name="parameters" element="tns:retrieveFreeDiskSpaceResponse"/>
</message>
<message name="retrieveNumberofCores">
<part name="parameters" element="tns:retrieveNumberofCores"/>
</message>
<message name="retrieveNumberofCoresResponse">
<part name="parameters" element="tns:retrieveNumberofCoresResponse"/>
</message>
<message name="retrieveRunningProcesses">
<part name="parameters" element="tns:retrieveRunningProcesses"/>
</message>
<message name="retrieveRunningProcessesResponse">
<part name="parameters" element="tns:retrieveRunningProcessesResponse"/>
</message>
<portType name="retrieveWindowsInformation">
<operation name="createDirectory">
<input wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/createDirectoryRequest" message="tns:createDirectory"/>
<output wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/createDirectoryResponse" message="tns:createDirectoryResponse"/>
</operation>
<operation name="backupDatabase">
<input wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/backupDatabaseRequest" message="tns:backupDatabase"/>
<output wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/backupDatabaseResponse" message="tns:backupDatabaseResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/backupDatabase/Fault/IOException"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/backupDatabase/Fault/InterruptedException"/>
</operation>
<operation name="stopWebService">
<input wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/stopWebServiceRequest" message="tns:stopWebService"/>
<output wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/stopWebServiceResponse" message="tns:stopWebServiceResponse"/>
</operation>
<operation name="retrieveCPUUsage">
<input wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/retrieveCPUUsageRequest" message="tns:retrieveCPUUsage"/>
<output wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/retrieveCPUUsageResponse" message="tns:retrieveCPUUsageResponse"/>
</operation>
<operation name="startWebService">
<input wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/startWebServiceRequest" message="tns:startWebService"/>
<output wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/startWebServiceResponse" message="tns:startWebServiceResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/startWebService/Fault/IOException"/>
</operation>
<operation name="testPath">
<input wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/testPathRequest" message="tns:testPath"/>
<output wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/testPathResponse" message="tns:testPathResponse"/>
</operation>
<operation name="retrieveMemoryUsage">
<input wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/retrieveMemoryUsageRequest" message="tns:retrieveMemoryUsage"/>
<output wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/retrieveMemoryUsageResponse" message="tns:retrieveMemoryUsageResponse"/>
</operation>
<operation name="getWebServiceStatus">
<input wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/getWebServiceStatusRequest" message="tns:getWebServiceStatus"/>
<output wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/getWebServiceStatusResponse" message="tns:getWebServiceStatusResponse"/>
</operation>
<operation name="retrieveDatabases">
<input wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/retrieveDatabasesRequest" message="tns:retrieveDatabases"/>
<output wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/retrieveDatabasesResponse" message="tns:retrieveDatabasesResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/retrieveDatabases/Fault/IOException"/>
</operation>
<operation name="retrieveFreeDiskSpace">
<input wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/retrieveFreeDiskSpaceRequest" message="tns:retrieveFreeDiskSpace"/>
<output wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/retrieveFreeDiskSpaceResponse" message="tns:retrieveFreeDiskSpaceResponse"/>
</operation>
<operation name="retrieveNumberofCores">
<input wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/retrieveNumberofCoresRequest" message="tns:retrieveNumberofCores"/>
<output wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/retrieveNumberofCoresResponse" message="tns:retrieveNumberofCoresResponse"/>
</operation>
<operation name="retrieveRunningProcesses">
<input wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/retrieveRunningProcessesRequest" message="tns:retrieveRunningProcesses"/>
<output wsam:Action="http://callwindowsservice.org/retrieveWindowsInformation/retrieveRunningProcessesResponse" message="tns:retrieveRunningProcessesResponse"/>
</operation>
</portType>
<binding name="retrieveWindowsInformationPortBinding" type="tns:retrieveWindowsInformation">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createDirectory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="backupDatabase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
<operation name="stopWebService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveCPUUsage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="startWebService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="testPath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveMemoryUsage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getWebServiceStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveDatabases">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="retrieveFreeDiskSpace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveNumberofCores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveRunningProcesses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="retrieveWindowsInformation">
<port name="retrieveWindowsInformationPort" binding="tns:retrieveWindowsInformationPortBinding">
<soap:address location="http://localhost:8080/SYSINTG-FINPROJ-WEBSERVICES/retrieveWindowsInformation"/>
</port>
</service>
</definitions>